1 TYPELIB "C:\\Users\\crowelmk\\Documents\\Class Materials\\Senior Project\\Pointing\\matlab_src\\ObjectCentroidFiltering\\for_testing\\ObjectCentroidFiltering_idl.tlb"
2 RT_RCDATA "C:\\Users\\crowelmk\\Documents\\Class Materials\\Senior Project\\Pointing\\matlab_src\\ObjectCentroidFiltering\\for_testing\\ObjectCentroidFiltering.ctf"
  
